* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html,
body {
  height: 100vh;
}

header {
  display: flex;
  justify-content: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.toggleContainer {
  display: flex;
  justify-content: flex-start;
  width: 50%;
}

#toggleBtn {
  padding: 0.5rem 1rem;
  border-radius: 3px;
  border: none;
}

.formContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.postForm {
  background-color: #f9f9f9;
  width: 30%;
  padding: 3rem 3rem;
  border-radius: 10px;
}

.formItem {
  display: flex;
  flex-direction: column;
  margin: 0.2rem 0;
}

.formBtn {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 0;
}

.formBtn button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 3px;
  font-weight: bold;
}

#cancelBtn {
  background-color: #ff0000;
  color: #fff;
}

#cancelBtn:hover {
  background-color: #d70202;
}

#submitBtn {
  background-color: #009dff;
  color: #fff;
}

#submitBtn:hover {
  background-color: #0059ff;
}

.postContainer {
  display: flex;
  width: 50%;
  flex-direction: column;
  margin-top: 1rem;
  gap: 1rem;
}

.post {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 2rem;
  border: 2px solid black;
  border-radius: 15px;
}

.author {
  text-decoration: underline;
}

.text {
  overflow-wrap: break-word;
}

.topDiv {
  display: flex;
  justify-content: space-between;
}

.bottomDiv {
  display: flex;
  justify-content: space-between;
}

.lcDiv {
  display: flex;
  gap: 5px;
}

.lcDiv img {
  width: 1.5rem;
  height: 1.5rem;
}

.likeBtn {
  box-sizing: content-box;
  display: flex;
  background-color: #00e60c;
  border-radius: 3px;
  padding: 0.5rem;
  gap: 0.2rem;
  border: none;
  font-size: 1rem;
}

.dislikeBtn {
  box-sizing: content-box;
  display: flex;
  background-color: #ff0000;
  border-radius: 3px;
  flex-direction: row-reverse;
  padding: 0.5rem;
  gap: 0.2rem;
  border: none;
  font-size: 1rem;
}

.dislikeBtn:hover {
  background-color: #d70202;
}

.likeBtn:hover {
  background-color: #03ae0b;
}

.delBtn {
  box-sizing: none;
  background-color: red;
  border-radius: 3px;
  border: none;
  color: #fff;
  font-weight: bold;
  padding: 0.5rem 1rem;
}

.delBtn:hover {
  background-color: #d70202;
}

.commentBtn {
  border-radius: 3px;
  padding: 0 1rem;
  border: none;
  font-size: 0.9rem;
}

.commentBtn:hover {
  background-color: #afadad;
}

.commentForm {
  padding: 0 1rem 2rem;
  background-color: #f9f9f9;
  border: 1px solid #e4e4e4;
  border-radius: 3px;
  margin-top: 1rem;
}

.commentForm form {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0 1rem;
  gap: 2px;
}

.commentContainer {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 0 1rem;
}

.comment {
  display: flex;
  text-decoration: none;
  padding: 1rem;
  flex-direction: column;
  background-color: #f9f9f9;
  border: 1px solid #e4e4e4;
  border-radius: 3px;
}

.adDiv {
  display: flex;
  justify-content: space-between;
}

.removeBtnDiv {
  display: flex;
  flex-direction: row-reverse;
}

.commentsDiv {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.commentFormBtn {
  background-color: #009dff;
  border: none;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 3px;
  color: #fff;
}

.commentFormBtn:hover {
  background-color: #0059ff;
}

.hidden {
  display: none;
}

@media (width <= 1400px) {
  .postForm {
    width: 65%;
  }
}

@media (width <= 900px) {
  .postContainer {
    width: 100%;
  }
  .postForm {
    width: 100%;
  }
  .toggleContainer {
    width: 100%;
  }
}
